<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.uno.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>













	<key>CFBundleVersion</key>
	<string>0.0.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>



	<false/>

	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>

		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>


		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>

	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>

		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>


		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>

	</array>

	<key>UIAppFonts</key>
	<array>
		<string>data/opensans-light-eaf1b13e.ttf</string>
		<string>data/roboto-black-f048f3ba.ttf</string>
		<string>data/roboto-blackitalic-97f2588a.ttf</string>
		<string>data/roboto-bold-3d4cb65a.ttf</string>
		<string>data/roboto-bolditalic-5f81a32a.ttf</string>
		<string>data/robotocondensed-bol-d12a7f13.ttf</string>
		<string>data/robotocondensed-bol-f24a3d23.ttf</string>
		<string>data/robotocondensed-ita-580303be.ttf</string>
		<string>data/robotocondensed-lig-34ca7208.ttf</string>
		<string>data/robotocondensed-lig-b19983b8.ttf</string>
		<string>data/robotocondensed-reg-5386b8be.ttf</string>
		<string>data/roboto-italic-44748545.ttf</string>
		<string>data/roboto-light-c9be3551.ttf</string>
		<string>data/roboto-lightitalic-6e7fcce1.ttf</string>
		<string>data/roboto-medium-138fb00a.ttf</string>
		<string>data/roboto-mediumitalic-4a2e98da.ttf</string>
		<string>data/roboto-regular-f5456817.ttf</string>
		<string>data/roboto-thin-1444a06e.ttf</string>
		<string>data/roboto-thinitalic-755eae3e.ttf</string>
	</array>







		<key>NSAppTransportSecurity</key>
<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
</dict>
	<key>NSLocationUsageDescription</key>
<string></string>
<key>NSLocationWhenInUseUsageDescription</key>
<string></string>
<key>NSLocationAlwaysUsageDescription</key>
<string></string>
</dict>
</plist>
