	<div class="jumbotron" ng-app="listaTelefonica">
		<h3>{{app}}</h3>
		<!-- <ui-accordions>
		<ui-accordion title="Accordion1" >
			{{loren}}
		</ui-accordion>
		<ui-accordion title="Accordion2">
			{{loren}}
		</ui-accordion>
		</ui-accordions> -->
		<hr/>
		<!-- <div ui-alert title="Ops! Aconteceu um problema!">
			{{error}}
		</div> -->
		<input type="text" ng-model = "buscador" class= "form-control" placeholder = "O que você esta buscando?">
		<table class="table" ng-if="contatos.length > 0">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Name</th>
				<th><a href="" ng-click="ordenarPor('telefone')">Contato</th>
				<th><a href="" ng-click="ordenarPor('data')">Data</th>
				<th><a href="" ng-click="ordenarPor('Operadora')">Operadora</th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: buscador | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao ">
				<td><input type="checkbox" ng-model = "contato.selecionado"/></td>
				<td>{{contato.nome | name | ellipsis}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.data | date}}</td>
				<td>{{contato.operadora.nome}}</td>
			</tr>
		</table>
		<hr/>
		<a href="#newcontatos" class="btn btn-primary btn-block">Novo Contato</a>
		<button class = "btn btn-danger btn-block" ng-click="removerContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Remover Contato</button>
	</div>