<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<title>Lista Telefonica</title>
	<script src="lib/angular.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
	<h3>{{app}}</h3>
		<table class="table">
		<tr>
			<th> </th>
			<th>Name</th>
			<th>Contato</th>
			<th>Operadora</th>
			<th></th>
		</tr>
		<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
			<td><input type="checkbox" ng-model = "contato.selecionado"/></td>
			<td>{{contato.nome}}</td>
			<td>{{contato.telefone}}</td>
			<td>{{contato.operadora.nome}}</td>
			<td><div class="cores" ng-style="{'background-color': contato.cor}"></div></td>
		</tr>
		</table>
		<hr/>
		<h5>Add</h5>
		<input class="form-control" type="text" ng-model = "contato.nome" placeholder = "Nome">
		<input class="form-control" type="number" ng-model = "contato.telefone" placeholder = "Telefone">
		<select class="form-control" ng-model = "contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
			<option value="">Selecione uma operadora!</option>
		</select>
		<button class = "btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
		<button class = "btn btn-danger btn-block" ng-click="removerContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Remover Contato</button>
	</div>
</body>
</html>